# Xcode
.DS_Store
*/build/
DerivedData/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserstate
*.xcworkspace/xcuserdata

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundler
.bundle

# General
*.swp
*.lock
*.tmp
*.idea/
*.orig
*.log

# App-specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace
